.html{
	background-color: #5074CB
}

.header{
	border: solid;
	background-color: white;
}

.titre {
	text-align: center;
	color: black;
}

.gallery {
	margin: 20px;
	text-align: center;
	border: solid;
	background-color: #EAEDF3;
}

.iconButton{
	border: solid;
}

.icon{
	align-items: center;
	display: inline-flex;
}

.characterName{
	font-size: 20px;
	font-weight: bold;
	max-width: 100%;
	height: auto;
}

.photo{
	max-width: 100%;
	height: auto;
}

.footer {
	background-color: black;
	color : white;
	text-align: center;
	bottom: 0; left: 0; right: 0;
	max-width: 100%;
	height: auto;
}